<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="React & Beyond" />
    <meta name="og:description" content="React & Beyond" />
    <meta name="keywords" content="js, bolivia" />
    <meta name="og:title" content="React & Beyond" />
    <meta name="og:site_name" content="React & Beyond" />
    <meta name="og:image" content="/meta-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>React & Beyond</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
</style>
